[2015-02-10 23:19] n8twj opened #3 "stormpath-sdk-angular.js not found"
After building per README, stormpath-sdk-angular.js is 404 Not found.

stormpath-sdk-express is installed by npm within node_modules.

[2015-02-10 23:23] robertjd commented on #3
Oops!  I'm on mobile.  It should probably be stormpath-sdk-angularjs.js

Where in the code is the issue?
On Feb 10, 2015 3:19 PM, "Jeremy McNamara" notifications@github.com wrote:

[2015-02-10 23:40] rdegges commented on #3
The issue here is documentation related: the required file isn't in the right spot. I'll fix the readme and push an update.

[2015-02-10 23:46] n8twj commented on #3
Also, i had to npm install --save stormpath

[2015-02-10 23:47] rdegges commented on #3
Bam, please retry this from scratch. Should be working now =)

[2015-02-10 23:48] #3 closed, assigned to nobody

[2015-02-11 10:28] syonip opened #4 "npm install doesn't install devDependencies"
the readme should state "npm install --dev", or the packages.json should include the packages in "dependencies".

Also, "npm install --dev" didn't install the dependencies correctly, I had to install them one by one.

[2015-02-11 17:26] robertjd commented on #4
Hey @syonip can you tell me which version of npm you are using?  Thanks

[2015-02-12 00:24] robertjd commented on #4
Do you have an environment declared via NODE_ENV?  Apparently if it's set to 'production' it will skip the dev dependencies:

http://stackoverflow.com/a/27179090/998998

[2015-02-12 13:42] syonip commented on #4
Hey Robert,
my npm version: 1.4.28.
don't have NODE_ENV set.

[2015-02-15 03:50] n8twj opened #5 "Cookie not being sent, when using a different backend port"
Maybe this is my node/angular/js noobie showing, but I have altered the STORMPATH_CONFIG, since i run two separate apps ('frontend'  (angularjs) and 'backend' (node json api))

(Warning:  CoffeeScript)

angular.module('app.controllers', [
    'stormpath'
])
.config( (STORMPATH_CONFIG) ->
  STORMPATH_CONFIG.AUTHENTICATION_ENDPOINT = 'http://localhost:9000/oauth/token'
  STORMPATH_CONFIG.CURRENT_USE

[2015-02-15 03:55] n8twj commented on #5
![screen shot 2015-02-14 at 10 55 12 pm](https://cloud.githubusercontent.com/assets/5016817/6202020/9a1f16b2-b49c-11e4-953b-4d5c9799d5bb.png)
![screen shot 2015-02-14 at 10 55 21 pm](https://cloud.githubusercontent.com/assets/5016817/6202021/9edc44ae-b49c-11e4-8bf7-15a9e1579978.png)

[2015-02-15 04:41] robertjd commented on #5
Hi @n8twj !

Requests to a different port will be considered cross-domain, do you see errors about that in the console?

If you are using our Express SDK you can whitelist localhost:3333 with this option:

https://github.com/stormpath/stormpath-sdk-express#allowedOrigins

[2015-02-15 15:01] n8twj commented on #5
I will try that specific option.... I have allowed for cors with header
options on server side.

On Saturday, February 14, 2015, robertjd notifications@github.com wrote:

[2015-02-15 15:04] n8twj commented on #5
Previously worked thru the various errors about cross domain - everything
seems to be working, just no cookie being sent back

On Sunday, February 15, 2015, Jeremy McNamara mcnamara.jeremy@gmail.com
wrote:

[2015-02-15 17:57] robertjd commented on #5
Hey again.  The issue here is, unfortunately, still with CORS.  Because the cookie is being sent by the :9000 domain, only pages on that domain will send the cookie to the server.  That's why it seems like the cookie isn't being set, but really it just isn't readable from the :3333 domain.

The workaround is to manually store the access token in local storage.  The local storage area is vulnerable

[2015-02-16 19:12] n8twj commented on #5
I will absolutely take a look at that option.   In the mean time, I combined my frontend and backend apps.   I am using Brunch.io (vs Grunt/Gulp)... What I am seeing now is two XSRF-TOKEN cookies getting set, but I cannot explain why... also access_token is not showing up as a detected cookie.   Any ideas would be appreciated.   Your example app does not experience this behavior  :(

![screen shot

[2015-02-17 00:48] n8twj commented on #5
As I suspected....Upon digging into Brunch.io, I discovered they use pushserver, which by default adds CORS protection.

Adding xsrf: false  to config for development usage is working for me

[2015-03-19 16:45] robertjd opened #6 "Login post needs to be Oauth compliant"
Right now it's posting a JSON object, but it should be posting a for `application/x-www-form-urlencoded` - this is required to be compatible with our Java SDK

[2015-04-11 00:14] iotaweb opened #7 "Console error running dashboard-app example"
Hello,

I followed the instructions to run the **dashboard-app** example, but unfortunately, I get the following error in the console when viewing the Register page:

[code]

The page loads, but it is clearly broken and will not register a  user.

Any ideas or help to get this app running would be appreciated!

Regards, Rob

[2015-04-11 00:51] robertjd commented on #7
Hi @iotaweb ,

That's a strange one, unfortunately I was unable to reproduce it.  A few questions:
- Do you get any errors while running `grunt serve`?
- Did Bower ask you to manually resolve any dependencies?

While running the example just now, I realized that the instructions on the Readme were a bit misleading on the Stormpath configuration, so I just updated that section - can you check it ou

[2015-04-11 01:51] iotaweb commented on #7
Hi @robertjd,

I didn't see any errors while running `grunt serve`, output below:

[code]

Thanks for updating the instructions - I had added my Stormpath config values as described, so I don't think this was the problem. There were also no dependency issues reported with bower.

One thing I did try was try Safari (previously I was using Chrome  - Mac OS X 10.9). When using Safari, I could registe

[2015-04-13 21:50] robertjd commented on #7
That is fishy.. can you tell me which version of Chrome you are using?

[2015-04-13 22:06] iotaweb commented on #7
Chrome Version 41.0.2272.118 (64-bit)
Mac OS X 10.9 Mavericks  - Mac Book Pro

[2015-04-13 22:42] robertjd commented on #7
Could you share you code with us?  I'm pretty puzzled by this one.  If not here you can hit us on support@stormpath.com as well

[2015-04-21 20:56] drpalaric commented on #6
Is this still an issue? I was looking at the docs and it mentioned that it is only configured for `application/json`. Do you want it to post `application/x-www-form-urlencoded`?

[2015-04-27 22:42] robertjd commented on #6
Thanks for reminding me!  Yes, this issue is resolved now.  The module now uses, by default, `application/x-www-form-urlencoded` (per the Oauth spec).  You have to opt-in to JSON by setting:

`STORMPATH_CONFIG.FORM_CONTENT_TYPE='application/json'`

[2015-04-27 22:42] #6 closed, assigned to nobody

[2015-05-21 14:21] arealmaas opened #16 "Make an option to use auth-header instead of cookies"
I have the API on a different URL than the angular application. Cookies don't work very well with different host names between the FE and the API. Would be nice if i had the option of sending the token in an auth-header instead of a cookie.

[2015-05-21 14:26] arealmaas opened #17 "Allow developers to override the STORMPATH_CONFIG"
I created a pull-request for this as a temporary fix: #15

The use-case i had was that the API is on a different URL, so i needed a way to change the base-url for all endpoints.

[2015-05-21 14:30] arealmaas commented on #17
An associated'ish issue: #5

[2015-05-21 16:15] lhazlewood commented on #16
Can you please help me understand the implementation difference?

With CORS, the server has to tell the browser which headers the browser is allowed to transmit during a cross-origin request by listing them in the `Access-Control-Request-Headers` response header.

This means either `Cookie` or `YOUR-CUSTOM-HEADER` has to be listed in that list to allow the other domain to send the bearer token.  I

[2015-05-21 21:33] robertjd commented on #16
Hi @AlmaasAre

The cookie should still work even if the API is on a different URL, but you will have to instruct the XHR object to use the `withCredentials` flag (Angular's $http object accepts this).

This has prompted me to write an example app that shows how to do this with our SDKs.  Are you using our Express SDK with Angular?

[2015-05-21 21:35] lhazlewood commented on #16
Ah, even better - no need to even mess with that particular CORS header.

[2015-05-21 22:59] robertjd commented on #16
D'oh!  I'm silly (and lacking caffeine).  The same cookie _wont_ work in this situation, because it's stored on the other domain (it's issued from the other domain).

So yes, cross domain requires you to start passing the access token in a HTTP header.  As you saw in #5 this is something that I need to support with this library.  I'm cranking away on that now..

[2015-05-23 06:21] arealmaas commented on #16
yes exactly. Thanks, that's awesome :)

I'm using the express sdk and angular sdk.

I think an http-header would be cleanest to  have for cors Idd. The alternative would be to accept cross site scripting.

[2015-05-25 19:12] drpalaric opened #18 "Controllers to Services? $scope to this?"
Hey @robertjd ,

I am looking at the SDK and wonder if `$scope` is really necessary anymore. Why not write `this.whatever = function(somethingCool){};` inside a controller, or better yet in a factory and calling it in the controller? Would you consider that? I was thinking about this after refactoring some of my code and thought it would be something worth mentioning for the Stormpath SDK. If it i

[2015-05-26 23:17] robertjd commented on #16
Hi @AlmaasAre

Now that the holiday weekend is over... :)  My original comment about using the `withCredentials` option is in fact the correct solution to this problem.

I've published an update to this library, it now uses that option.  I've also pushed an update to [stormpath-sdk-express](https://github.com/stormpath/stormpath-sdk-express) (It had some bugs with the CORS implementation).

Please

[2015-05-26 23:19] robertjd commented on #18
Hey @AbdullahAlger !

I do like this pattern, I've been using it for some of the controllers in our Admin Console application.  Thanks for dropping the note here, I'll be refactoring this library for cleanliness at some point (once it has tests!) and I'll include this change.

-Robert

[2015-05-26 23:19] #18 closed, assigned to nobody

[2015-05-27 06:23] arealmaas commented on #16
Alright, thank you!

[2015-05-27 17:48] robertjd opened #20 "Error: [$rootScope:infdig] 10 $digest() iterations reached."
While building your Angular application with this module, you may encounter this error:

[code]

This happens when your default view (`main` if you are following our Angular Guide) is using the `waitForUser` option.  The cause is this upstream bug: https://github.com/angular-ui/ui-router/issues/600

**Workaround**:

Instead of this:

[code]

Use this:

[code]

If you are using our Angular Guide to

[2015-05-27 17:57] ashishbajaj99 commented on #20
Great, thanks a lot Robert!

[2015-06-09 10:01] schinkowitch opened #23 "Tests broken following guide"
Following the guide here:
http://docs.stormpath.com/angularjs/guide/configure_angular.html

After performing the step: Add Stormpath to the Angular Application,
the client tests (grunt test:client) fail with the error:

PhantomJS 1.9.8 (Mac OS X 0.0.0) Controller: MainCtrl should attach a list of things to the scope FAILED
    Error: [$injector:modulerr] Failed to instantiate module dashboardApp d

[2015-06-13 07:30] drpalaric commented on #23
I've tried to reproduce the error, but couldn't. Try running `bower install --save stormpath-sdk-angularjs` again. There might have been an issue when you were downloading from bower. Also, there might be more to the stack trace than what you are finding, and adding files manually won't solve the issue. Since you're not too far head in the tutorial, I'd simply try to go through the instructions an

[2015-06-13 22:37] nandanrao opened #24 "NPM?"
Would love to be have the angular sdk on NPM (to install via Browserify or other browser npm package manager). Thoughts?

[2015-06-16 08:00] schinkowitch commented on #23
I started the tutorial from scratch, and followed the steps carefully. After performing the step: Add Stormpath to the Angular Application,
the client tests still fail when executed from the command line (grunt test:client) .

Here is the error with the full stack trace:

PhantomJS 1.9.8 (Mac OS X 0.0.0) Controller: MainCtrl should attach a list of things to the scope FAILED
        Error: [$injec

[2015-06-16 09:09] drpalaric commented on #23
Yes, I got the same error running `grunt test:client`, but I think this error has to do with [Angular-Fullstack](https://github.com/DaftMonk/generator-angular-fullstack) and not Stormpath. Have you tried simply running `grunt serve`? That should work.

[2015-06-16 09:11] drpalaric commented on #24
Might want to check out [stormpath-sdk-express](https://www.npmjs.com/package/stormpath-sdk-express) which is in Beta on NPM. They talk about integrating it with Angular.

[2015-06-16 10:07] schinkowitch commented on #23
Yes, `grunt serve` works fine. The point is I'm evaluating using Stormpath for a production app and I need to write testable code. I would think this would be important for you all as well.

I've played around with this some more and found that the following steps seem to fix the issue:
1) add
      'client/bower_components/stormpath-sdk-angularjs/dist/stormpath-sdk-angularjs.js',
      'client/bo

[2015-06-16 12:56] drpalaric commented on #23
Disclaimer: I don't work for Stormpath and I am a pretty new developer.

Anyway, what you stated about including all the libraries into Karma, [is apparently what you need to do](http://stackoverflow.com/questions/20132823/include-dependencies-in-karma-test-file-for-angular-app) to get the tests working initially.

For the second issue, the error seems to be coming from trying to get the route `/a

[2015-06-16 17:47] robertjd commented on #24
Hi @nandanrao

I created an NPM package for this module, so you'll see it in NPM now.  However I haven't put much thought into how this library will work with Browserify etc, so please share your thoughts as you give it a try!

Thanks :)

[2015-06-16 17:54] robertjd commented on #23
Hi @schinkowitch , thank you for reporting this.  At the moment we don't have a recommendation for a testing framework, so take anything you see created by Angular-Fullstack is merely an example.  Please note that this module is still beta.

Perhaps you could use the ES5 shim with Phantom?

Regarding the 'Unexpected request' error, I believe that is coming from Angular's mock $http service

Hopefu

[2015-06-16 17:55] robertjd commented on #17
This has been documented, and can be found here:

https://docs.stormpath.com/angularjs/sdk/#/api/stormpath.STORMPATH_CONFIG:STORMPATH_CONFIG

[2015-06-16 17:55] #17 closed, assigned to nobody

[2015-06-16 17:56] robertjd commented on #7
Following up on this one as it's a few months old now, any luck @iotaweb ?

[2015-06-16 18:00] robertjd commented on #5
CORS is now possible with this library, using the ENDPOINT_PREFIX option in STORMPATH_CONFIG.  You need to ensure that your back-end server is setting the appropriate headers (allowing requests from the other domain, and allowing credentialed requests from the other domain).

[2015-06-16 18:00] #5 closed, assigned to nobody

[2015-06-16 18:00] #16 closed, assigned to nobody

[2015-06-16 18:02] robertjd commented on #4
Closing old issue

[2015-06-16 18:02] #4 closed, assigned to nobody

[2015-06-17 06:42] schinkowitch commented on #23
Ok, thanks. Using the ES5 shim with PhantomJS will probably work. I got the test to run on PhantomJS by using Mozilla's Polyfill [here](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_objects/Function/bind).

The "Error: Unexpected request: GET /api/users/current" test failure is reasonable as the sdk is checking to see if the user is logged in. It's a one line fix in the tes

[2015-06-22 00:29] iotaweb commented on #7
@robertjd - sorry for the delay in responding, I've been working on another project.

I downloaded the latest and this time I can register successfully using Chrome. However the email-verification link is not correctly setting the verification flag to 'Enabled', so I cannot login. If I manually set it using the Stormpath Admin, I can login.

So my original error is fixed, but an issue with verific

[2015-06-29 21:22] robertjd commented on #7
Hi @iotaweb - glad to hear you've had progress!  If you're still stuck with email verification, can you look at the console in the browser to see if there are any errors?  Feel free to open a new issue here, or contact us on support.  I'm going to close this issue out, thanks!

[2015-06-29 21:22] #7 closed, assigned to nobody

[2015-07-08 12:38] agupta1989 commented on #20
Yes, it was eating my brain. Thanks a lot @robertjd . Would you please also explain why this was happening with simple $urlRouterProvider.other('/') call and not with the alternative ?

[2015-07-08 13:16] Jagdeep1 opened #25 "Social login"
Hey team,

When can we expect implementation for social login?

Jagdeep

[2015-07-08 17:08] robertjd commented on #20
I'd look at the linked issue above, for UI-Router - it explains the nuances of the issue.

[2015-07-08 17:09] robertjd commented on #25
Hi @Jagdeep1

We don't provide timelines for features, but this one is high on the list.  We'll update this issue when it's released (you can also watch for pull requests), so I'll leave this open until then.

Thanks!

[2015-07-09 07:25] Jagdeep1 commented on #25
Thanks for the update. Good to know that this feature is on high priority :)

Regards
Jagdeep

[2015-07-21 19:37] voor opened #27 "Angular Directives require JQuery"
This isn't a big deal, but you should probably denote that somewhere.  Since you are using:

[code]

Specifically the `element.show()` is a JQuery function.  If you don't have JQuery present you'll have a bad time.

[2015-07-22 20:12] voor commented on #24
I notice you're not deploying the build artifacts in the npm deployment.

[2015-07-22 22:51] robertjd commented on #24
Are you referring to what's in `/dist`?  If so then no, at the moment I'm using those for the Bower package.  Would these files be useful for Node / Browserify?

[2015-07-22 23:10] voor commented on #24
Yes.

The best way to think of [Webpack](http://webpack.github.io/) / Browserify is that it's exactly like Bower, except instead of inserting a script tag at the top of a page (or concat'ing all your files together) you simply refer to the module with a require("") just like a Node.js module.

It's more in-line with what you'll see happening in future iterations of JavaScript.  It's also neato.

[2015-07-22 23:24] robertjd commented on #24
Ah I see, thanks for the heads up!  I'm going to leave this issue open, I'll address this soon!

[2015-07-22 23:25] robertjd commented on #27
Does this actually require you to have a jQuery library on the page?  I thought Angular had some kind of internal "jQuery light" which provides the `element` API?

[2015-07-22 23:27] voor commented on #27
Good question, I was essentially having problems without jQuery, and then everything worked when I added it in.  I'll get some logs tomorrow and post them.

[2015-07-24 11:05] drpalaric commented on #27
Angular comes with its own version of jQuery. There should be no problems using `.show()` or `.hide()` in the directive. I haven't had problems with Stormpath, or had to add jQuery. Here is what the [ Angular docs](https://docs.angularjs.org/misc/faq) say about jQuery:

[2015-07-25 02:07] celsomarques commented on #24
@robertjd Could you remove dist folder from .npmignore, please?
I wanna use only with NPM.

Example of browserify (package.json):

[code]

Thanks

[2015-07-27 18:25] rdegges opened #28 "Add Customization for /logout"
It would be nice if we could customize the logout URIs.

[2015-08-14 05:37] gemmell opened #29 "STORMPATH_CONFIG.FORM_CONTENT_TYPE='application/json' is ignored"
STORMPATH_CONFIG.FORM_CONTENT_TYPE='application/json'

is ignored - our server is still getting form urlencoded, this was not broken a couple of revisions ago, so it's been introduced recently.

[2015-08-19 18:28] bkyarger commented on #27
I think it does require jQuery for show() and hide().  On the docs for [jqLite/angular.element](https://docs.angularjs.org/api/ng/function/angular.element) it lists the supported methods and show/hide are not listed.

[2015-08-19 18:49] kevin212 commented on #23
Hi @schinkowitch, what was the "one line fix..." that resolved this issue for you?

As soon as I add stormpath and stormpath.templates as application dependencies, all but a few of my tests fail with that same error: "Error: Unexpected request:".... and it is because SP is checking to see if the user is loogged-in. But my tests are not expecting these calls.

Can you share the one-line fix that wo

[2015-08-19 19:40] drpalaric commented on #27
Yeah, I think you're right. However, I think that instead of resorting to jQuery, we probably should be using the ngHide and ngShow directives.

[2015-08-19 19:41] bkyarger commented on #27
Yes, I agree.  We would like to use this without having to include jQuery at all.

[2015-08-19 19:57] kevin212 commented on #23
Actually, I was able to figure it out:

$httpBackend.expectGET(CURRENT_USER_URI).respond(200, {});

[2015-08-20 05:23] robertjd commented on #29
Hi @gemmell , can you tell me which form is causing this?  I am trying the login form with the current version and I don't see this problem.  Thanks!

[2015-08-20 05:27] gemmell commented on #29
I am not using the login form, we are using our own and:

[code]

[2015-08-20 05:39] robertjd commented on #29
Which version of this library?

[2015-08-20 05:40] gemmell commented on #29
"dependencies": {
    "stormpath-sdk-angularjs": "~0.5.1",

[2015-08-20 05:40] gemmell commented on #29
I have

[code]

[2015-08-20 05:52] robertjd commented on #29
Your config function is overriding the default value for the form content type, and specifying json:

[2015-08-20 06:00] gemmell commented on #29
And it is ignored and is sending urlencoded as the data.

[code]

I don't know the code, but the only time `FORM_CONTENT_TYPE` is used is right before it calls `encodeUrlForm` - shouldn't there be an if which doesn't `encodeUrlForm` if I have set it to application/json?

[2015-08-20 06:23] gemmell commented on #29
Yeh, changing it to

[code]

Means it is actually encoded as JSON when it is sent (i.e. it fixes the problem).

[2015-08-20 16:12] #29 closed, assigned to nobody

[2015-08-20 16:13] robertjd commented on #29
Oh you're totally right, that got removed!  I just merged it back in :)  will publish to bower in a moment as 0.5.2 - sorry for the confusion here!

[2015-08-26 21:11] bkyarger opened #33 "Add Support for Social Login"
Social Login is supported by the API itself, but not the SDK.  The only change I required in this SDK to support Facebook login was to send down a different grant_type to the server (using the stormpath express SDK which then needed to handle the new grant_type).

[2015-09-06 17:37] stevebread opened #35 "if-user should behave like ng-if instead of ng-show"
if-user hides content when the user is not logged in using the display property. Since the content is included, the controllers associated with it are initialized and data requests during initialization receive 401 responses because the content is for authenticated users.
e.g. if the nav bar displays a notifications count to logged in users and the count is retrieved in a dedicated controller

To

[2015-09-08 01:37] stevebread opened #36 "sp-login-form template using incorrect 'for' attrbute for username label"
The label for the username field specifies for=spEmail but the input field's id is spUsername

[2015-09-09 02:24] stevebread opened #37 "Error message for missing username/password is too technical"
If the sp-login-form is submitted without a username/password, the displayed error message is
'Missing username or password in post body'
'in post body' should be dropped.

[2015-09-13 19:51] stevebread opened #38 "Example project: redirect user from 'register' to post-login-state if authenticated"
In the example project, if an authenticated user goes to /register, the registration view is shown. The user should be redirected to to the post-login-state in that case.

[2015-09-13 22:09] stevebread commented on #37
Leaving fields blank on the registration form gives "... cannot be null, empty, or blank".
"... cannot be empty" would be sufficient.

Missing first name gives "Account givenName cannot be null, empty, or blank". 'giveName' is the field name. A generic label such as "Name cannot be empty" would be better.

[2015-09-14 03:19] stevebread commented on #36
Same issue in the spEmailVerification template

[2015-09-18 21:51] javierbq opened #42 "Running unit tests in authenticated endpoints"
Is there any way to run supertests test in authenticated endpoints like this one?

[code]

[2015-09-28 16:04] robertjd opened #44 "Implement Social Login"
We will use the default endpoint of `/login` to accept data for social login.  It will accept a `providerData` field, which is an object that contains a `providerId` field and a `accessToken` or `accessCode` field.

We will also need to provide an endpoint which exposes the `clientId` for the provider's JavaSscript library.

This requires cooperation with our framework integrations.  That work is

[2015-09-28 16:05] robertjd commented on #25
We will be working on this soon, closing this issue in favor of #44

[2015-09-28 16:05] #25 closed, assigned to nobody

[2015-09-28 16:05] robertjd commented on #33
We will be working on this soon, closing this issue in favor of #44

[2015-09-28 16:05] #33 closed, assigned to nobody

[2015-09-29 00:29] omgitstom opened #45 "Add a way to track angular library usage through the stormpath api"
I'm slightly unsure if the node sdk needs to be modified to support this, but this issue can be tracked here

[2015-10-01 17:30] robertjd opened #46 "Implement localStorage strategy if detected that domain is different"
Not all clients have a cookie store, for example the Iconic framework.  At the moment this library assumes that authentication is being handled by cookies.

This library should support the ability to pass the access token in the Authorization header, but the details about where the token is stored should be abstracted behind a generic interface.  If using mobile, the filesystem api should be used

[2015-10-05 18:38] omgitstom commented on #45
https://stormpath.atlassian.net/wiki/display/SDKS/User-Agent

[2015-10-05 18:41] robertjd opened #47 "Support ngRoute"
At the moment we only support UI Router for a routing mechanism, we want to support ngRoute as well

[2015-10-09 03:00] pierredavidbelanger opened #50 "Using ifUserInGroup directive with no group: this.groups.filter is not a function"
When logged in with a user not in any group.

Using `ifUserInGroup` like this:

[code]

I get this in the console:

[code]

My `bower.json`:

[code]

[2015-10-09 05:03] robertjd commented on #50
Hello Pierre, this problem is now fixed in version 0.7.1

If you are using `express-stormpath` in your server, please make sure to update that module to 2.0.10 because it has the server-side fix as well :)

[2015-10-09 05:03] #50 closed, assigned to nobody

[2015-10-09 16:43] stevebread opened #51 "On logout, defaultPostLoginState view flashes with possible auto re-login"
On logout, the view changes independently of the session ending. One way to see this in action is to put a breakpoint in `AuthService.prototype.endSession` on the call to `$rootScope.$broadcast(STORMPATH_CONFIG.SESSION_END_EVENT)`. Then login, go to a view other than what's set for `defaultPostLoginState` and then logout.

I assume that the view changes to `loginState` on logout but since the sess

[2015-10-14 15:51] rbickham11 commented on #24
@robertjd We'd like to use this with browserify as well. Removing the dist folder from npmignore as suggested would be great!

[2015-10-15 04:21] robertjd commented on #24
If the source code in `src/` were using node-style requires, would you still prefer the `dist/` files?  Or would you require the source js instead?

[2015-10-21 19:29] timothyej opened #59 "Refactor: CSS for built-in templates"
Figure out a better way to structure the CSS for the built-in templates. Right now CSS have to be defined with `<style>` tags together with the forms and cannot be shared among other forms.

Also, the forms are styled using bootstrap, which isn't documented. I would recommend adding all of our own independent styling instead.

[2015-10-21 19:32] timothyej opened #60 "Refactor: SPA Config Service"
With the introduction of Social Login, we've added the dependency of a `/spa-config` end-point. This is consumed directly from the `$socialLogin` service. Instead, we should move this into it's own service that can be used by other parts as well, e.g. a password policy service.

[2015-10-21 19:35] timothyej opened #61 "Refactor: Separate into own files"
Separate each directives and service into their own files if possible. Maybe create some folders too, e.g. `directives/` and `services/`.

[2015-11-05 14:19] rorheden opened #69 "sp-logout should make request with accept json header"
The request that sp-logout makes should be sent with an `accept: json` header. When sent as `accept: text/html` an unnecessary redirect is made to `/`.

[2015-11-06 01:00] #44 closed, assigned to timothyej

[2015-11-09 21:54] shprink commented on #24
When I DL the lastest version 0.7.2 via npm or via github I do not have the dist folder

![image](https://cloud.githubusercontent.com/assets/1388706/11047811/ec5d9a54-86f9-11e5-8da1-7438ef75c7a2.png)

and in the index.js (the main defined in package.json) those files are required.

![image](https://cloud.githubusercontent.com/assets/1388706/11047832/09695750-86fa-11e5-9a7d-3fe305bab700.png)

I end

[2015-11-09 22:18] shprink commented on #24
If you guys want a version that work with webpack you can install:

`npm install shprink/stormpath-sdk-angularjs#patch-1 --save`

Till the owner merges #71

[2015-11-10 13:02] drpalaric commented on #24
@shprink

I really like the webpack idea for Stormpath. Have you used it for any project so far? Any Github repo that you'd like to share to see how you've used it?

[2015-11-10 15:24] shprink commented on #24
@AbdullahAlger Do you mean how to use stormpath with webpack or how to build a lib such as stormpath with webpack?

If it is about building a lib with CommonJS and Webpack these are good examples:

https://github.com/shprink/wp-api-angularjs
https://github.com/shprink/ionic-native-transitions
https://github.com/shprink/volkswagen.js

If it is about using strompath with webpack, just install the fo

[2015-11-10 18:38] #24 closed, assigned to nobody

[2015-11-10 18:42] robertjd commented on #24
Thanks to everyone for your input!  I've merged #71 so that you can use the `dist/` assets.  The new release on npm is 0.8.0.

In the future I'd like to refactor this library to be Common JS.

[2015-11-10 19:06] robertjd opened #72 "withCredentials is always true"
We have this blanket interceptor that always sets the `withCredentials` option to true:

https://github.com/stormpath/stormpath-sdk-angularjs/blob/master/src/module.js#L198

This creates a problem if the Angular application needs to talk to another API on another domain, and that API does not require credentials (and as such, does not add the `Access-Control-Allow-Credentials` header to OPTIONS re

[2015-11-18 06:19] surendrakumarkhatik opened #76 "TypeError: Cannot read property 'filter' of undefined."
Hello,
I am using this module on front end and   "express-stormpath": "^2.0.14", in backend. I want to apply group filter on state.

sp: {
            authorize: {
                group: 'admins'
            }
        }
but it's give me an angular error. "TypeError: Cannot read property 'filter' of undefined.".
Please help me.
Thanks in advance :)

[2015-11-18 07:07] robertjd commented on #76
Please ensure that you are expanding the groups object on the server.  That can be done with this configuration:

[code]

I hope this helps.  More information on the expansions can be found here:

http://docs.stormpath.com/nodejs/express/latest/user_data.html#automatic-expansion

[2015-11-18 08:35] surendrakumarkhatik opened #77 "sp-logout Not Working"
Hello @robertjd
<a ui-sref="login" sp-logout>Sign Out</a></li>,
I am using sp-logout for logout. Let say i am on user dashboard page then i click logout. But it remain on same page but all auth navbar hide and login register option display.

Please help me.

Thanks in advance :)

[2015-11-18 08:37] surendrakumarkhatik commented on #76
Thank you so much @robertjd  :+1:

[2015-11-18 17:12] robertjd commented on #76
No problem, did it resolve your issue?  Thanks.

[2015-11-18 21:44] robertjd commented on #77
My apologies, our documentation was out of date.  I just pushed the latest docs, which you can read for the logout directive here (you may have to force-reload the page):

http://docs.stormpath.com/angularjs/sdk/#/api/stormpath.spLogout:spLogout

The logout directive will only delete the authentication cookies.  You need to listen for this event and then tell your application what it should do aft

[2015-11-19 06:17] surendrakumarkhatik commented on #77
Yes, it's working fine.

Thank you so much :+1:

[2015-11-19 06:17] #77 closed, assigned to nobody

[2015-11-19 15:10] timothyej commented on #27
Thanks @bkyarger! This SDK no longer depends on jQuery, so I'm closing this issue.

[2015-11-19 15:10] #27 closed, assigned to nobody

[2015-11-19 15:19] timothyej commented on #28
What do you mean? :) It's possible to set a custom `/logout` endpoint using `DESTROY_SESSION_ENDPOINT` of `stormpath.STORMPATH_CONFIG`.

[2015-11-19 15:39] timothyej commented on #69
This was fixed with #48.

[2015-11-19 15:39] #69 closed, assigned to nobody

[2015-11-19 22:09] gemmell commented on #28
It wasn't 4 months ago.... ;)

[2015-11-23 00:07] philBrown opened #80 "Wrong module name in module.exports"
Yeah, so you have

[code]

in `dist/stormpath-sdk-angularjs.js`. Surely that should be

[code]

[2015-11-23 18:58] timothyej commented on #28
Oh, okay, I will close this then ;) Thanks! 👍

[2015-11-23 18:58] #28 closed, assigned to nobody

[2015-11-24 21:00] #80 closed, assigned to timothyej

[2015-11-26 04:19] jonathansolorzn opened #85 "How to change email content, or maybe translate it?"
I'd like to know how to change the message of the reset passwork mail, or maybe just translate it to another idiom?

[2015-11-26 10:50] chanoch commented on #85
Hi,

Emails are sent by stormpath on your application's behalf on a directory by directory basis.

To change the email text, you need to:
- Log in to stormpath (https://api.stormpath.com/login)
- Click on Directories
- Edit the directory you want to configure from the Actions options
- Click  the workflows menu option
- Click on the Password Reset tab
- You will find two templates, one for passwor

[2015-11-26 11:17] jonathansolorzn commented on #85
Thank you!

[2015-11-26 11:17] #85 closed, assigned to nobody

[2015-11-30 19:45] connor11528 opened #86 "Cannot navigate to profile view"
I have an angular app with the run and config defined:

[code]

The ProfileCtrl is empty:

[code]

Then I navigate to the profile view after login using

[code]

This redirects me to `http://localhost:3000/profile#/` but the profile template does not show up (instead my 'main' template stays showed). I am using node.js for the server side. Why is the profile view not rendering? I can provide the s

[2015-11-30 19:47] connor11528 commented on #86
(above) accidentally raised this issue in the express repo, it is meant for this one

[2015-11-30 19:48] connor11528 commented on #86
Oh snap, maybe it relates to the server side too. Looking in my console I have an error when trying to view profile:

[code]

[2015-12-08 00:33] #76 closed, assigned to nobody

[2015-12-08 15:11] shprink opened #87 "block login page when logged in"
Hi,

Is there a way to prevent users to go the the login page or signup page when already logged in?

[2015-12-10 18:52] shprink commented on #87
Anyone?

[2015-12-10 23:42] robertjd commented on #87
Hi Julien!  Sorry for the dealy.  This is a bug, the library is supposed to do this.  I'm fixing it in #88 - stay tuned for a new release.  Thanks for the report!

[2015-12-15 02:50] connor11528 commented on #86
I was serving up the files wrong from express. See issue #214 (referenced above)

Starting the web server should look like:

[code]

[2015-12-15 02:50] #86 closed, assigned to nobody

[2016-01-04 17:37] shprink commented on #87
Hi @robertjd any updates?

[2016-01-04 21:32] chipallen2 opened #92 "sp-registration-form auto-login not working"
I'm using the registration form directive with the default template. The documentation says if the verification workflow is disabled and I set auto-login to true it should log them in after registration. I'm positive the workflow is disabled and it is still displaying the notice about checking their email for the verification link.

Here's my directive:

<div sp-registration-form auto-login="true"

[2016-01-04 23:23] chipallen2 commented on #92
I actually think I might have found it - my server was not returning the "status" object back. So I think this line was preventing it from trying to authenticate.

$scope.enabled = account.status === 'ENABLED';

I would still request a bug fix so if you say you want auto-login then the form never tells the user to check their verification email. It should just show the link to login.

[2016-01-05 23:57] #47 closed, assigned to timothyej

[2016-01-06 00:25] robertjd commented on #87
Hi Julien! This got lost in the pre-holiday shuffle :)  I did merge in a fix for this, and I just opened #93 as a new release PR. Standby for a review and then you should be good to go!

[2016-01-06 00:30] shprink commented on #87
Cool thanks :)

[2016-01-11 13:31] timothyej commented on #92
Hi!

I'm not able to reproduce your issue. When my signup form has the `auto-login` attribute set to `true`, and the verification workflow is disabled on my _Directory_, I will automatically get logged in without any messages at all.

Here's how you can troubleshoot it:
- What **version of the AngularJS SDK** are you using? Make sure to use the latest.
- Make sure that your _Directory_ really has

[2016-01-14 17:06] timothyej opened #94 "Version 0.8.2 results in XHR errors"
Using the latest version via bower, login results in XHR errors. But when using the files from the example app, everything works nicely.

Need to investigate this further as I haven't verified this behaviour myself yet.

[2016-01-17 00:48] gchatter commented on #94
Note: happens in chrome.

[2016-01-20 09:36] schinkowitch commented on #23
Note: the angular fullstack generator has dropped support for vanilla JS in 3.x, so when following the guide, you need to install the generator with:

npm install -g generator-angular-fullstack@2.1.1

[2016-01-29 03:43] robertjd commented on #94
@gchatter do you still have the problem if you use the 0.9.0 version?

[2016-01-29 05:18] surendrakumarkhatik commented on #76
@robertjd
You previous answer working but i want to assign multiple group to a state. How i can do that
Please help me.
Thanks in advance :)

[2016-01-29 06:16] robertjd commented on #76
Happy to help! Do you mean that you want to require the user to be in
multiple groups, as an authorization requirement for a UI state?
On Jan 28, 2016 9:18 PM, "surendrakumar1992" notifications@github.com
wrote:

[2016-01-29 09:59] surendrakumarkhatik commented on #76
Yes :)
Thanks for quick response.
Say if a state can access admin as well as user group then how i can this to ui route

[2016-01-30 21:31] drpalaric commented on #61
@timothyej wouldn't it be better to break this stuff up into components rather than by services or directives?

[2016-02-01 22:57] robertjd opened #98 "Google Login is hard-coded for Offline Access"
This might be a problem.  Today, when using our express-angular sample application, the Google log-in dialog was blatantly asking me for "Offline Access", and not outlining the scopes it wanted.

However, as with most google login issues, I only saw it two or three times (revoking the app access in-between each attempt).  I can no longer reproduce.

Has anyone else seen this issue?

This makes me

[2016-02-03 20:22] drpalaric opened #100 "Angular-Fullstack Update"
I think that the tutorial needs to be updated to the newest version of Angular-Fullstack. There are options in version 3 that are not in version 2. For example, you now have to choose between Mongo or SQL for a database, when before you could just not select anything. Also, now you have to select the testing suite that you will use, which wasn't there before. So, I think this probably should be up

[2016-02-03 21:06] drpalaric commented on #94
@robertjd I didn't get an error using 0.9.0.

[2016-02-22 18:35] robertjd opened #105 "Update to work with upcoming express-stormpath@3.0"
With these changes I think we should move this library to 1.0 - ping @timothyej
### Todo
- [x] Add X-Stormpath-Agent header (#106)
- [x] Implement the login view model (#108)
- [x] Implement the registration view model (#109)
- [x] Implement the new JSON error responses (#110)
- [x] Change logout to use POST request (#116)

[2016-02-22 19:55] robertjd opened #106 "Add X-Stormpath-Agent header"
For requests that are made by this library, add the `X-Stormpath-Agent` header, where the value is `stormpath-sdk-angularjs/<version>`.  Do not add this header if the request is going to a domain that is different from the current document, because we do not want to cause a cross-domain security exception for the application that is using this library.

[2016-02-23 12:42] timothyej commented on #105
Yes, sounds good to me :+1:

I will start working on the view models.

[2016-02-23 12:43] timothyej opened #108 "Implement the login view model"
Implement the login view model according to the [spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/login.md#login-view-model).

[2016-02-23 12:44] timothyej opened #109 "Implement the registration view model"
Implement the registration view model according to the [spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/registration.md#registration-view-model).

[2016-02-23 12:47] timothyej opened #110 "Implement the new JSON error responses"
Implement the new JSON error format according to the [spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/error-handling.md).

[2016-02-23 18:17] #106 closed, assigned to robertjd

[2016-03-01 17:43] rorheden opened #116 "Logout request should be POST instead of GET"
In order to comply with [the framework spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/logout.md), we need to change the logout request from making a GET to a POST request.

Part of #105.

[2016-03-01 18:46] #110 closed, assigned to typerandom

[2016-03-01 23:05] #116 closed, assigned to typerandom

[2016-03-02 01:18] #108 closed, assigned to timothyej

[2016-03-02 18:57] #109 closed, assigned to timothyej

[2016-03-02 21:59] #105 closed, assigned to timothyej

[2016-03-03 00:24] robertjd opened #122 "Finish LinkedIn implementation"
The service boilerplate is there, but we need to finish it and use express-stormpath to handle the OAuth callback.

[2016-03-08 19:32] surfjedi opened #126 "new router implementation?"
Are  there any plans branches to support new router https://angular.github.io/router/?

[2016-03-28 15:23] surfjedi commented on #100
+1

[2016-03-28 16:17] robertjd commented on #100
Thanks everyone, is this a simple dependency update, or do we have to do more work?

[2016-03-28 16:40] drpalaric commented on #100
Looks like dependency updates. I believe the Angular tutorial probably needs to be updated to reflect what the new Yeoman options are regarding the database and testing suite.

[2016-03-28 17:17] surfjedi commented on #100
If any one is interested I have done and port to webpack build for this example:
https://github.com/berzerk-interactive/express-stormpath-angular-sample-project/tree/feature/webpack

[2016-03-28 17:20] surfjedi commented on #100
And it has a lot of dependency updates, including node and npm.  FYI I have been using new node 5.9 successfully too

[2016-03-29 20:48] smarchetti opened #130 "Publish 1.0 to npm"
Is it possible to publish 1.0 to npm? It looks like 1.0 is required to use express-stormpath ^3.0. The version of this library currently published in npm is 0.9. Thanks!

[2016-03-29 21:46] robertjd commented on #130
Of course!  I've published it now, sorry about that!

[2016-03-29 21:46] #130 closed, assigned to nobody

[2016-03-29 22:20] smarchetti commented on #130
Thank you!!

[2016-03-31 22:01] surfjedi opened #131 "sp-login-form template-url not working?"
I have implemented a custom template via the directions in http://docs.stormpath.com/angularjs/sdk/#/api/stormpath.spLoginForm:spLoginForm

But it won't over ride the default template?

Any ideas?

[2016-04-11 06:00] lcollet commented on #100
What about Stormpath SDK with another backend than ExpressJS?
I got some weird behaviours using it with a rest api based on SpringBoot

[2016-04-12 05:29] drpalaric commented on #100
@lcollet Here is Stormpath's Spring Boot example https://github.com/stormpath/stormpath-spring-boot-tutorial

[2016-04-12 05:43] lcollet commented on #100
@AJAlger yeah, i know, my backend is a Java one (using SpringBoot for local dev, and Wildfly for production).
But i got some issues using it with the Stormpath Angular SDK.
The Stormpath js lib tells me that it cannot get a "view model" from backend (for login and register pages).
By default, SpringBoot backend with Stormpath comes with default mappings ('/login', 'register', ...).
As i can see a

[2016-04-12 11:45] chanoch commented on #100
@lcollet You need to provide your own login page if you want this to work. The framework simply provides the end point for authentication which is the POST to /login

Can you be more specific about the weird behaviours if this doesn't cover your issue?

[2016-04-12 12:11] lcollet commented on #100
@chanoch
So, the specs is only fully implemented for a JS backend (Node, Express)?
So, i cannot use the "dynamic login JSON view model"? It's not explicit when you read the docs (https://docs.stormpath.com/angularjs/sdk/#/api).
I have to write the login JSON view model myself to be able to use the login page, alright?
Maybe i should take a look to this repo : https://github.com/stormpath/stormpath

[2016-04-12 15:34] robertjd commented on #100
Hello @lcollet !  As you've found in our framework spec, the /login route should return a JSON response on GET requests, this response is the [login view model](https://github.com/stormpath/stormpath-framework-spec/blob/master/login.md#login-view-model), which tells you what social providers are configured.  The registration endpoint has a similar behavior, the [registration view model](https://gi

[2016-04-12 16:46] lcollet commented on #100
@robertjd Thank you for your help !
I already opened a support ticket! All the answers i got should allow me to implement my own solution as you suggest it.
Guys, i really appreciate your support.

[2016-04-12 16:54] robertjd commented on #100
Oh awesome, always happy to help!

[2016-04-13 05:24] drpalaric commented on #131
What's your code look like?

[2016-04-16 00:03] robertjd opened #136 "Use JSON for form posts"
We are currently posting data as form encoded data, this is a leftover from the days when we didn't have a proper JSON API in our framework integrations.  We should use JSON now.

[2016-04-18 23:54] robertjd opened #137 "Document social proivder APIs"
This page is sparse:

https://docs.stormpath.com/angularjs/sdk/#/api/stormpath.socialLoginService.$socialLogin

We need to describe how one can use the provider APIs, such as `$googleLogin`, to manually invoke the provider flow and pass options.  For example, this should be documented:

[code]

[2016-04-20 19:58] drpalaric commented on #137
@robertjd What are you looking for in terms of documenting this? I wouldn't mind doing it.

[2016-04-22 21:54] robertjd commented on #137
Thanks @ajalger, that would be awesome !  I was going to use ng-doc in such a way that the $googleLogin and $facebookLogin providers would appear is links in the navigation sidebar, and the page should contain an example like shown above.

[2016-04-22 21:55] robertjd opened #143 "Stormpath @ Ng-Conf, May 4-6, Salt Lake City!"
Hello fellow Stormpath developers!  I wanted to let you know that we'll be at Ng-Conf in Salt Lake City, so stop by our booth and say hello!

[2016-04-27 17:28] edjiang commented on #98
Yeah, if you request scopes with offline, they always just show "requests offline access" and gives you the ability to refresh the access token.

[2016-05-06 18:35] nbarbettini opened #147 "Infinite loop instead of error when misconfigured"
This was found by a customer and repro'ed by me. This is a hard-to-discover hang that happens in a CORS scenario when `STORMPATH_CONFIG.ENDPOINT_PREFIX` is not configured.

Repro branch: https://github.com/nbarbettini/StormpathAuth/tree/hang-repro/Client
This should get the sample client running, no server required:

[code]

What's happening is this:
1. Because `STORMPATH_CONFIG.ENDPOINT_PREFIX` i

[2016-05-06 18:38] nbarbettini commented on #147
Happy to help on this one if the repro steps are confusing.

[2016-05-10 20:59] surfjedi commented on #131
Sorted it by just duplicating .tpls  and modifying that

[2016-05-10 20:59] #131 closed, assigned to nobody

[2016-05-10 21:02] surfjedi commented on #147
+1

[2016-05-11 21:56] robertjd commented on #147
Thanks for the report, this is something we'll fix.

[2016-05-13 22:03] robertjd commented on #126
Thanks for the request, we haven't looked into the new router yet.  Does it work with this library, or is there integration issues?

[2016-05-26 16:01] surfjedi opened #148 "Has this been tested with ui-router 0.3?"
I just tried to update my app that has been running great on this SDK verion 1.0.0 and UI router 0.2.18.
But updating to ui-router 0.3 gets me this error:
Failed to instantiate module app.auth due to:
TypeError: Cannot create property 'resolveAs' on string 'login'

Changing Ui-router back to 0.2.18 fixes it.

Any Ideas?

[2016-05-26 16:11] robertjd commented on #148
I'm looking at the UI Router changelog, and I don't see a 0.3 version?  It seems that 0.2.18 is the last version before 1.0.0-alpha.1

[2016-05-26 16:14] surfjedi commented on #148
https://github.com/angular-ui/ui-router/blob/0.3.0/CHANGELOG.md

I agree its hard to find but there - and 0.3 is still for angular 1.x but once they bump to ui-router 1.xx that for anuglar 2.x.x

[2016-05-26 16:16] robertjd commented on #148
Thanks.  0.3 looks like a strange release, we definitely have not tested against it.  I would stick with 0.2.18.

[2016-06-07 00:27] gomoto opened #149 "Group authorization"
stormpath-sdk-angularjs v1.0.0
express-stormpath v3.1.2

After adding group authorization to ui-router state configuration,

[code]

when a user, whether or not he is part of the 'admins' group, goes to /tasks, he will get `TypeError: Cannot read property 'items' of undefined` which points to `this.groups.items` in stormpath-sdk-angularjs.min.js:

[code]

In express-stormpath, groups are expanded:

[2016-06-07 19:05] robertjd commented on #149
Thanks for getting in touch.  You'll need to explicitly add expansion to the `/me` route, so your configuration would look like this:

[code]

More information on the current user endpoint is available here: http://docs.stormpath.com/nodejs/express/latest/user_data.html#current-user-json-api

I hope this helps!

[2016-06-07 19:49] gomoto commented on #149
Works perfectly. Thank you!

[2016-06-07 19:49] #149 closed, assigned to nobody

[2016-06-07 20:41] surfjedi opened #150 "Global way to disable auth?"
Is there a way to globaly disable auth for example in dev mode or some thing?

I need to work on a stormpath angular app offline, and if all most of my pages and the inital page state are protected, is there a few lines of code to disable instead of changing permission in each state?

[2016-06-07 20:49] robertjd commented on #150
HI @surfjedi , I don't think we have a shim like this in the Angular SDK itself, but you could probably achieve this in your Express server.  Take a look at the account response that is returned by the `/me` endpoint when you are logged in.  You could temporarily configure your Express server with your own route handler for the `/me` route and have it return a mock account response.

[2016-06-08 17:55] robertjd commented on #149
No prob, happy to help!

[2016-06-10 18:16] robertjd opened #151 "StormpathErrorInterceptor should only touch errors that come from Stormpath responses"
As currently written, the StormpathErrorInterceptor will modify the error object for all responses, but we should only do this if the response is coming from an endpoint that is managed by Stormpath.

[2016-06-10 18:29] robertjd commented on #72
We should remove this interceptor, and use documentation to show developers how to add `withCredentials` if they need to.  This will be a breaking change.

[2016-06-10 18:30] #45 closed, assigned to timothyej

[2016-06-10 18:32] #143 closed, assigned to nobody

[2016-06-10 18:33] #148 closed, assigned to nobody

[2016-06-10 18:33] #94 closed, assigned to timothyej

[2016-06-11 23:57] rondanal opened #152 "Infinite loop when accessing /login (using generator-angular-fullstack v3.7.5)"
Hi,

Apologies for my ignorance here - I'm trying to follow the [AngularJS + Yeoman Guide](https://docs.stormpath.com/angularjs/guide/index.html) and am experiencing an infinite loop when building the login form section.

I created a new project using generator-angular-fullstack v3.7.5

The generated `login.js` file for the login route is:

[code]

`login.controller.js`:

[code]

`app.js`:

[code]

[2016-06-14 00:10] robertjd commented on #152
Hello @rondanal , thanks for the report.  Can you take a look at #147 to see if this is the same issue that you are having?  Thanks!

[2016-06-14 19:01] rondanal commented on #152
Hi @robertjd , thanks for your response.

It looks like it wasn't related to #147, but is now working after modifying a few lines of code in the `generator-angular-fullstack v3.7.5` server files.

The first issue seemed to be that I inited the Stormpath middleware after `require('./routes').default(app);`. I moved this line after the SP init, and also changed the init code from:

[code]

to the sn

[2016-06-21 22:28] #151 closed, assigned to robertjd

[2016-06-30 16:51] edjiang opened #154 "Issue running stormpath-sdk-angularjs.js (non minified) from bower"
![image](https://cloud.githubusercontent.com/assets/918770/16496668/e55d8762-3ea7-11e6-9319-54f94ac679d8.png)

For some reason, the stormpath-sdk-angularjs.js has a unicode 0xa0 character in it right there on line 1405. It's not in the github repo, but it's in the version downloaded from bower.

[2016-07-18 18:53] Awk34 opened #155 "Point issues link to this repo"
Hi, it looks like you guys used the [Angular Full-Stack Generator](https://github.com/angular-fullstack/generator-angular-fullstack) to scaffold some example Angular apps for this. We have an 'Issues' link in the footer of those apps that points to the GitHub issues for the generator. I think you guys should change that to point to your repos Issues section instead. :)

Reference: https://github.c

[2016-07-18 19:07] robertjd commented on #155
Hi @Awk34 , thanks for the report!  We don't have a repo that developers clone, instead we ask them to start a new project with the angular-fullstack generator, and then we walk them through some steps where they add features to the generated project.  In this workflow I'm not sure how we'd remove the issues link from the default template?

[2016-07-18 19:11] Awk34 commented on #155
Oh okay, I didn't see anything about using the generator itself when I quickly looked at the docs.

I noticed the two following example apps. That's why I made this issue.
https://github.com/stormpath/stormpath-sdk-angularjs/tree/master/example/dashboard-app
https://github.com/stormpath/stormpath-sdk-angularjs/tree/master/example/ng-route-app

But if users are instructed to just use the latest ver

[2016-07-18 19:29] robertjd commented on #155
Ah sorry I wasn't looking at the example apps :) so we certainly can remove those links.  And we do hope to upgrade to the new generator soon, so that will resolve that use case.  Thanks again for the report, I love the angular generator, thank you for all the work that goes into it!

[2016-07-21 22:17] nbarbettini opened #158 "Add register link to login form"
The Stormpath server-side integrations (express, aspnet, etc) will render a "Create an account" link on the Login route if the `/register` route is enabled. Is it possible to add this to the Angular SDK?

[2016-07-21 22:18] robertjd commented on #158
Currently this SDK has separate views for login and registration.

On Thu, Jul 21, 2016 at 3:17 PM, Nate Barbettini notifications@github.com
wrote:

[2016-07-21 22:25] nbarbettini commented on #158
Right, but could the login view link to the register view?

[2016-07-21 22:28] robertjd commented on #158
We can add that, I'd want it to be aware of the "is registration available" context.

[2016-07-21 22:28] nbarbettini commented on #158
Gotcha. Makes sense.

[2016-07-22 20:47] robertjd opened #159 "Support page-based (authorization code) social login flows"
Right now this library is only supporting the popup-based flows for Github and Facebook.  We should also support the page-based flows, which would expand our support to Github and Linkedin.

[2016-08-02 01:46] Confusingboat opened #160 "Facebook integration doesn't work when used in conjunction with ASP.NET Core backend"
On the Stormpath provided login form in this Angular SDK, the Login with Facebook button disappears when the Angular SPA is placed in front of a Stormpath ASP.NET Core Web API server instead of the Stormpath NodeJS dev server. The ASP.NET Core `/login` endpoint shows its own Facebook button and works just fine, so it appears to be an issue with this SDK.

[2016-08-02 01:53] robertjd commented on #160
Thanks @Confusingboat , I'll check with @nbarbettini to see if the ASP.NET Core integration is adding the account store provider information to the login view model.  The login view model is served when this Angular SDK makes a JSON GET request to /login, the model contains the information needed to render the login form (including 3rd party provider stores like Facebook).  You'll see this request

[2016-08-02 18:32] nbarbettini commented on #160
Hey @Confusingboat - I think this is a bug on my side. I've created an issue you can track: https://github.com/stormpath/stormpath-dotnet-owin-middleware/issues/24

Sorry about the trouble. I'll get this fixed!

[2016-08-05 17:26] rdegges opened #161 "Sample App Odd Experience"
I'm following the Express + Angular quickstart in the Stormpath console, and am having an odd getting started experience.

Here's what I see when I open the sample application:

![screenshot 2016-08-05 10 24 47](https://cloud.githubusercontent.com/assets/90247/17444811/df82eb3c-5af6-11e6-8269-69676da5999e.png)

It looks like there should be a list of features, and there are none, which is really o

[2016-08-05 17:31] rdegges opened #162 "Sample App Login Page Issue"
The sample app registration form lets you specify an email, password, first name, last name, and favorite color when you register.

The login page, however, says username or EMAIL and password. This should just say email since no username is shown / editable / etc. This is confusing to new users.

[2016-08-05 17:33] rdegges opened #163 "Sample App Dashboard Page is Confusing"
When I log into the sample app dashboard page, it looks like this:

![screenshot 2016-08-05 10 32 39](https://cloud.githubusercontent.com/assets/90247/17445056/f368866a-5af7-11e6-8b82-3553a888e1d7.png)

This is confusing because it lists features that all point to nowhere, but have odd descriptive names for stuff unrelated to Stormpath. This is really confusing.

[2016-08-05 17:34] rdegges opened #164 "Sample App Asks for Unnecessary Info on Register"
The sample app registration page looks like this:

![screenshot 2016-08-05 10 33 43](https://cloud.githubusercontent.com/assets/90247/17445111/22ad87ae-5af8-11e6-80f9-b851657c4f81.png)

This is confusing because: why do I need to supply first name / last name / favorite color if that info is not used anywhere else in this demo? Seems unnecessary, and just adds confusion.

[2016-08-05 21:19] rdegges opened #165 "Add Sphinx Docs"
We should have some official Sphinx documentation for this project so it blends with our other projects.

[2016-08-08 16:55] robertjd commented on #165
We do have a guide if you're using Yeoman:

http://docs.stormpath.com/angularjs/guide/

Is there some other guide you were hoping to find?

[2016-08-08 21:26] robertjd opened #166 "Documentation & Sample application updates"
Hello all, this issue enumerates the improvements that I’d like to see to the documentation of this library.  These are the tasks I would like to complete:
- Remove the [Yeoman Guide](http://docs.stormpath.com/angularjs/guide/).  I love Yeoman, but maintaining a working and up-to-date example requires a lot of maintenance.
- The [Angular SDK API Docs](https://docs.stormpath.com/angularjs/sdk/#/api

[2016-08-08 21:28] robertjd commented on #161
Thanks, this is/was a Yeoman boilerplate app, this is how we introduced the module when it was first created.  At this point I no longer fill that it's necessary to maintain a Yeoman example, please see my bigger plans in #166

[2016-08-08 21:28] #161 closed, assigned to nobody

[2016-08-08 21:29] robertjd commented on #165
I've put together the bigger plan in #166, please review and let's continue to discuss there.

In short: I only want one documentation site for this library, not two.

[2016-08-08 21:29] #165 closed, assigned to nobody

[2016-08-08 21:39] robertjd commented on #164
Well, it _is_ shown on the "profile" page, but it's the lamest profile page ever because you can't actually edit anything :)

I actually want to remove this example application in favor of the [Stormpath Angular + Express Fullstack Sample Project](https://github.com/stormpath/express-stormpath-angular-sample-project).  See #166 for the full plain I'm setting out.

Closing issue, please follow up i

[2016-08-08 21:39] #164 closed, assigned to nobody

[2016-08-08 21:42] robertjd commented on #162
Same comment as I left in the react sample app:  I'm okay with the default login form showing "Username or Email", as it highlights that both are possible.  If the final application supports only one or the other, that's up to the developer, and they can change that label.

[2016-08-08 21:42] #162 closed, assigned to nobody

[2016-08-08 21:42] robertjd commented on #163
I agree, this is a boilerplate Yeoman app that shows a lot of non-Stormpath stuff.  I want to remove it, as enumerated in #166.

[2016-08-08 21:42] #163 closed, assigned to nobody

[2016-08-15 21:43] trainerbill opened #170 "When will angular 2 be available"
RC 5 is out and routing is stable.  Can it be based on material design (material2)?

Edit:  Can we get a shell module/repo started for those of us bored enough to work on it now?

[2016-08-16 15:30] robertjd commented on #170
Hi @trainerbill , I did start working on a prototype of a module, which you can see here:

https://github.com/robertjd/sp-ng2/

It doesn't have any documentation, but it has an example which includes the AuthPort component, which is meant to be a more general login/signup/password management component.  As it is not in NPM yet, you'll have to link to the module.  I had some problems with npm link

[2016-08-16 15:30] robertjd commented on #155
Per the plan in #166 the Yeomon sample app is going to be removed, so this issue can be closed at that time.

[2016-08-16 15:33] robertjd opened #171 "Use application/json as default content type for POST"
We are currently using `application/x-www-form-urlencoded` as the default value for `STORMPATH_CONFIG.FORM_CONTENT_TYPE`.  This is a leftover from the initial version, and this should now be changed to `application/json`.  This should be a major version issue because some may have configured their body parsing middleware to only look at form encoded posts, so switching the content type will break

[2016-09-16 13:05] WDShannon opened #174 "stormpath-sdk-angularjs NPM install hangs on Windows 10"
I'm not sure if this is my problem or npm or you, but when I try to npm install this repo it just indefinitely hangs.  I am able to install any other npm package without issue.  I am on windows 10.

[2016-09-17 18:49] Doug-Shannon commented on #174
have tried on multiple window machines, it is still failing.  There is clearly an issue with the package.  Any way around this, it is time sensitive.

[2016-09-19 16:35] mdeggies commented on #174
@WDShannon and @Doug-Shannon, can you both please post what version of node and npm you're on? We're looking into this!

[2016-09-19 22:46] Doug-Shannon commented on #174
Hey there, sorry, both above comments were mine, didn't mean to log in with each.  Current npm version is 3.9.5 and node version is 6.2.2.

This is failing on our Visual Studio Team Services build server too.

[2016-09-19 22:57] Doug-Shannon commented on #174
![image](https://cloud.githubusercontent.com/assets/19997906/18651673/c0fd8448-7e9a-11e6-8105-fa2e8352b365.png)

this is the NPM output.

[2016-09-20 22:30] robertjd commented on #174
Hi @Doug-Shannon , I'ved tried to reproduce this on a Windows 10 virtual machine, but haven't had any luck.  I'm using the same node and npm versions, installed via [nodist](https://github.com/marcelklehr/nodist), and using the windows command line.  The npm install completes as expected for me.  Can you tell me what terminal program you're using?  Could you see if the logging features in npm give

[2016-09-20 22:47] robertjd opened #175 "Hard-coded hrefs in templates are broken in hashbang mode"
In the login form we have a hard-coded link to `/forgot`, for the forgot password view.  This link is broken if you're using hashbang-based routing.  These hrefs should dynamically respond to $location html5 mode enabled.

[2016-09-21 12:20] Doug-Shannon commented on #174
So I'm not sure what nodist is, I've only ever installed with the windows MSI directly from the nodejs site: https://nodejs.org/en/download/, this may be a source of the difference.  The real problem is that this is causing my build server to hang as well and I don't have a solution for it (I can get by locally by downloading the package manually).  As far as terminal, I'm just using command promp

[2016-09-23 00:16] Doug-Shannon commented on #174
Any updates on this?

[2016-09-23 00:36] robertjd commented on #174
Hi Doug, my apologies but I haven't had a chance to try other variations on windows.  Can I bother you to open a ticket by contacting support@stormpath.com?  Please reference our conversation on this issue.  I'd like to have you do a screenshare with someone on our team who is more familiar with windows.  Thanks!

[2016-09-23 00:43] mdeggies commented on #174
Hi @Doug-Shannon -- tried to contact you via support@stormpath.com and on slack, but haven't heard a reply yet. Happy to set up a screenshare to figure out what the problem is. Just let me know! -M

[2016-09-23 01:37] robertjd opened #176 "Not compatible with UI-Router 1.x"
The new 1.x beta series causes a problem for this module, our view authorization options (`sp.authenticate` and `sp.waitForUser`) aren't enforced.  We need to look into this.

[2016-09-23 01:38] robertjd commented on #126
Closing in favor of #176

[2016-09-23 01:38] #126 closed, assigned to nobody

[2016-09-23 19:24] nbarbettini commented on #174
I've reproduced this on both Windows 8 and Windows 10 with node 6.6.0 and npm 3.10.8 (latest). I think it's a bug in npm, which I posted here: https://github.com/npm/npm/issues/14059

My only other wild guess is a filename that Windows doesn't like for some reason. It hangs on extracting `.tmp/build/stormpath-sdk-angularjs.tpls.min.js` which certainly doesn't seem like a weird path to me.

[2016-09-25 23:45] nbarbettini commented on #160
See the comment over at https://github.com/stormpath/stormpath-dotnet-owin-middleware/issues/24 re: fixed and pending release.

I'll close this issue once release 2.1.0 is live.

[2016-09-25 23:45] nbarbettini commented on #160
Minor note: the ASP.NET Core integration only works correctly if the Angular SDK posts with `application/json` - see https://github.com/stormpath/stormpath-sdk-angularjs/issues/171.

[2016-09-29 18:45] mraible commented on #170
I hope to start working on an Angular 2 SDK in a couple weeks, using @robertjd's prototype as an example.

[2016-09-29 18:49] mraible opened #177 "Provide pages as a module so Java SDK can pull pages in with WebJars"
For Java developers, [WebJars](http://www.webjars.org/) provides a great way to pull in CSS and JavaScript libraries as dependencies, rather than copying them into your project. We've [integrated WebJars into the Java SDK's AngularJS example](https://github.com/stormpath/stormpath-sdk-java/issues/1007), but I'd like to take it a step further. Rather than requiring the user to copy/paste the templa

[2016-09-29 19:09] trainerbill commented on #170
@mraible @robertjd I would be willing to contribute as well.  I think we should keep it in the stormpath repo.  Maybe we can get a branch or something to contribute to.  maybe some design discussions?  I would personally like to see it based on material2

[2016-09-29 19:13] mrioan commented on #177
If possible, please notify in https://github.com/stormpath/stormpath-sdk-java/issues/1009 when this issue is completed

[2016-09-29 19:41] mraible commented on #170
@trainerbill It'd be great if we can make it CSS framework agnostic, or provide Material Design and Bootstrap versions for users. I created https://github.com/stormpath/stormpath-sdk-angularjs/issues/177 this morning because I think it'd be cool if you didn't even have to create the pages in your application. Of course, for those that want fine-grained control, they could still use directives/comp

[2016-10-11 13:16] mraible opened #178 "if-user-in-group directive expects groups.items to be returned from /me endpoint"
In the Java SDK, /me (with groups expansion) returns groups data as follows:

[code]

When I use `if-user-in-group="ADMIN"`, I see the following error in my console:

[code]

If I look at line 2895 in `stormpath-sdk-angularjs.js`, I see the following function being called:

[code]

The logic still seems to work, and I _am_ using the if-user-in-group directive, but there seems to be a bug here. If

[2016-10-11 15:23] mraible opened #179 "Add change password example"
In JHipster's Angular implementation, there's a change password screen, complete with a [password strength](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/src/main/webapp/app/account/password/_password-strength-bar.directive.js) directive. Since it's possible to change a user's password though Stormpath's admin UI, it should be possible to do it from inside

[2016-10-11 15:24] mraible opened #180 "Add update user settings example"
In JHipster's AngularJS implementation, there's a settings screen that allows a user to update their information. We should show how to do something similar in one of our AngularJS examples.

![settings](https://cloud.githubusercontent.com/assets/17892/19276719/4bbe2d60-8fa5-11e6-980d-9c4882718156.png)

[2016-10-11 15:26] mraible opened #181 "Add user management example"
Since it's possible to manage users in Stormpath's admin UI, it should be possible to do the same from within an AngularJS application. Here's what the user management screen looks like in a JHipster-generated AngularJS application.

![user-management](https://cloud.githubusercontent.com/assets/17892/19276771/7b1e7e98-8fa5-11e6-9769-359f922795d5.png)

[2016-10-11 15:27] robertjd commented on #178
@mraible It looks like the JSDK is returning a list of groups, rather than a collection map (which has an items property, which is a list).  I'm not seeing this explicitly defined in our framework spec, but in practice I'm pretty sure everyone is doing the later.  Ping @bretterer and @nbarbettini

[2016-10-12 12:39] nbarbettini commented on #160
Hey @Confusingboat - thanks for your patience. My apologies for the long delay. Can you try [Stormpath.AspNetCore v0.7.0](https://www.nuget.org/packages/Stormpath.AspNetCore/0.7.0) or later and see if everything works from Angular now?

[2016-10-12 13:44] Confusingboat commented on #160
The Facebook button is now displayed and opens the Facebook popup. It still doesn't work for us, though. I'm not sure if this is a problem with our implementation, but I'm getting "Missing login or password." when clicking the Facebook button.

[2016-10-12 13:47] nbarbettini commented on #160
Darn. Is that message displayed inside the popup, or after you complete the flow via Facebook?

I'll try to repro myself, but if you have a repro project on Github, I can take a look at that too.

[2016-10-12 13:54] Confusingboat commented on #160
We get that after the Facebook flow, and I have confirmed we're using the built-in stormpath form `sp-login-form`. I'm also seeing a 400 for the post response from `/login`.

[2016-10-12 13:55] nbarbettini commented on #160
Thanks, looking into it now.

[2016-10-12 14:04] nbarbettini commented on #160
It's working for me so far - in the 400 response to the POST, is there any error message in the response body?

Also, which version of sdk-angularjs are you using?

[2016-10-12 14:16] nbarbettini commented on #160
One more thing to check -- this could also be caused by a bad Facebook directory configuration (redirect URI bad, incorrect client secret, etc). Unfortunately the current logging isn't very verbose as to why it failed (just a generic "an error occurred"). I'm working on improving that too.

[2016-10-12 14:21] Confusingboat commented on #160
It works when I use the vanilla login page at `/login`, so I know it's nothing with the Facebook account or setup.

I opened up Fiddler to have a better look, and it's posting
`providerData[providerId]=facebook&providerData[accessToken]={really long token}`

Response

[code]

I just noticed that it's posting it as `Content-Type: application/x-www-form-urlencoded`, but I think I remember a comment

[2016-10-12 14:25] nbarbettini commented on #160
Ah, yeah. It has to POST as `application/json`. See this issue for configuring the Angular SDK: https://github.com/stormpath/stormpath-sdk-angularjs/issues/171

[2016-10-12 14:35] nbarbettini commented on #178
Yes @robertjd, the .NET middleware [returns a faux-collection](https://github.com/stormpath/stormpath-dotnet-owin-middleware/blob/master/src/Stormpath.Owin.Middleware/Route/MeRoute.cs#L196) that includes `size` and `items` property. Specifically so it will work with this Angular code. :)

[2016-10-12 14:54] Confusingboat commented on #160
After adding the configuration line for `application/json` I can confirm that this now works. Thanks!

[2016-10-12 14:57] nbarbettini commented on #160
Fantastic. :) The Content-Type should default to the correct value in a future version of the Angular SDK to remove even more friction.

Thanks again for your patience. Ping me or @robertjd again if you run into any other issues.

[2016-10-12 14:57] #160 closed, assigned to nobody

[2016-10-12 15:08] mraible commented on #178
@dogeared and @lhazlewood It looks like we need to change the Java SDK to return `groups.items` instead of just `groups`.

[2016-10-12 18:03] mdeggies opened #182 "Request for npm support"
I'm not sure if this used to exist, but we have customers requesting npm support for this lib 👍

[2016-10-12 18:05] robertjd commented on #182
This could mean a few different things, can you please clarify?  As it is right now, you should be able to download this package with npm, but how you then take that source and use it in your application is another story that probably isn't supported.

[2016-10-12 18:07] mraible commented on #182
I've installed it via Bower and WebJars. Haven't tried npm.
On Wed, Oct 12, 2016 at 13:05 robertjd notifications@github.com wrote:

[2016-10-12 18:14] mdeggies commented on #182
Whoops, sorry guys. I was typing in the wrong name. It is stormpath-sdk-angularjs. Will update this in the README.

[2016-10-13 14:34] goncalogomes commented on #170
Just wondering if work on this is in the pipeline?
I can't get the example on the prototype working (I guess it was using older versions of angular2) so wondering if there will be an official version soon...
Thanks!

[2016-10-13 17:31] mraible commented on #170
@goncalogomes I hope to start working on the Angular 2 SDK next week. Stay tuned!

[2016-10-17 21:18] mraible commented on #178
Created an issue for this in the Java SDK: https://github.com/stormpath/stormpath-sdk-java/issues/1044

[2016-10-18 21:14] mraible opened #184 "Add focus to fields in login, registration and forgot password forms"
This is pretty easy to do with Angular's `$timeout` service. For example:

[code]

[2016-10-18 21:47] robertjd commented on #184
It seems like we should just do this in the link function for the login directive, that way we can reference the element by the local field ID, and not a global element ID.

[2016-10-19 16:02] mraible commented on #178
Re-opening because the fix on the Java SDK will break semver. We'll be able to release a fix in 2.0, but in the meantime, I'll create a PR to workaround this issue in the AngularJS SDK.

[2016-10-19 18:11] mraible commented on #177
Even better - provide the ui-router config for the default states: login, register, forgot, etc. It'd be sweet if developers could drop our JS files into their project and not have to write any code!

[2016-10-19 19:31] mraible opened #186 "Release 1.1.0 not available on GitHub or Bower"
I believe it's not available in Bower because there's no tag for 1.1.0 on GitHub. The latest release (according to Bower) is 1.0.0.

[code]

Attempting to install 1.1.0 fails:

[code]

[2016-10-19 20:06] bartzilla commented on #122
Hi @rbhojan,

I was trying to use the sdk preconfigured login template (sp-login-form) with linkedIn and Github. However, the social buttons are not rendered. Seems like`accountStore` in login template is empty, even when I properly created the apps and configured the directories in my app.

_login template line 55_
`<button ng-repeat="accountStore in viewModel.accountStores" type="button" class="

[2016-10-19 20:22] robertjd commented on #122
Hi @bartzilla - Unfortunately we aren't yet rendering the linkedin buttons in this library, it looks like I created this issue to track that :)  I'll open this issue for work, but we have some other priorities for the next several weeks.  In the meantime, could you use the default login page the our express-stormpath library provides?  That one should be working with Linkedin login.

[2016-10-19 20:37] bartzilla commented on #122
Ok, thanks for the prompt response @robertjd. was just wondering if perhaps this issue and what is currently implemented were out of sync.

[2016-10-19 21:58] mraible commented on #186
Fixed: https://github.com/stormpath/stormpath-sdk-angularjs/releases/tag/1.1.0

[code]

[2016-10-19 21:58] #186 closed, assigned to nobody

[2016-10-21 03:27] stevebread opened #187 "sp-social-login directive expects itself to be in an ng-repeat scope within sp-login-form"
During authentication, a `posting` field is set which disables all form controls related to login while the login is being processed. To create a custom login page with both an `sp-login-form` and an `sp-social-login` button, 2 requirements must be met for a click of the social login button to disable itself and the `sp-login-form` controls:
1. The `sp-social-login` button must be a part of the `s

[2016-10-21 21:36] Doug-Shannon commented on #174
The NPM team has not made any movement on this.. Is there a way to package this differently inside so it will work?

[2016-10-21 21:38] Doug-Shannon commented on #176
Would love to see this implemented.

[2016-10-21 23:10] mraible commented on #174
@Doug-Shannon Can you try Yarn and see if it works? https://www.infoq.com/news/2016/10/yarn

[2016-10-21 23:40] Doug-Shannon commented on #174
I've considered yarn, but I am not sure how it will run on our azure build server.  I'll give it a try and see how it goes.

[2016-10-22 00:13] Doug-Shannon commented on #174
Yarn is getting stuck on the stormpath package too.

[2016-10-22 00:19] Doug-Shannon commented on #174
This has to be something with stormpath, I've had no other packages with this issue.

[2016-10-22 01:08] mraible commented on #174
It works fine for me, what versions of Node and npm are you using? Here's mine:

[code]

[2016-10-22 02:09] Doug-Shannon commented on #174
makes no difference, I have tried all sorts.  I was on node 6.9.1, npm 3.10.6.  Just tried node 4.6.1 with latest npm and it made no difference.

What I don't get is why stormpath is the only npm library I am struggling with.  There cannot be much going on that many other libraries aren't doing.

[2016-10-22 02:11] mraible commented on #174
Can you install it via bower?

[code]

[2016-10-22 02:15] mraible commented on #174
FWIW, I do see some warnings when running `bower install` in Travis:

[code]

[2016-10-22 02:18] Doug-Shannon commented on #174
It installs with bower, but we aren't using bower on this project.  Any ideas?  I'm not sure what goes into building an npm project, but is there another way to accomplish the step that is failing?

[2016-10-22 02:21] mraible commented on #174
What happens when you do this?

[code]

When I do this, I get:

[code]

[2016-10-22 02:24] Doug-Shannon commented on #174
![image](https://cloud.githubusercontent.com/assets/19997906/19616292/0a1aa588-97dd-11e6-822a-ba77ce601d12.png)

same thing.  I get stuck on that `don't care about contents; nuking ....`

[2016-10-22 17:54] nbarbettini commented on #174
FWIW @mraible, I was able to reproduce this on Windows but never on Linux or Mac. I don't know what it could be in the package that would cause it.

[2016-10-23 03:01] Doug-Shannon commented on #174
What are our next steps.  Npm seems to have labeled the issue we created as a support issue and not a bug, but this is a big pain point for us.

[2016-10-24 21:02] #182 closed, assigned to nobody

[2016-10-24 21:05] mraible commented on #154
Cannot reproduce with the latest version:

[code]

Tested against https://github.com/stormpath/angularjs-spring-boot-stormpath-example

[2016-10-24 21:05] #154 closed, assigned to nobody

[2016-10-24 23:17] mraible commented on #174
@Doug-Shannon I'm able to reproduce this on a Windows 10 VM in Parallels Desktop. That's the good news. I suspect it's caused by long filenames, but according to [this Stack Overflow thread](http://stackoverflow.com/questions/26155135/node-npm-windows-file-paths-are-too-long-to-install-packages), many of these issues were fixed in npm 3. I even tried [upgrading to npm 4](https://github.com/felixri

[2016-10-24 23:20] mraible opened #189 "Update TROUBLESHOOTING.md"
This file refers to https://github.com/stormpath/express-stormpath/issues/194, which is now closed.

[2016-10-26 02:19] mraible opened #190 "Add support for data.authorities as alternative to sp.authorize.group"
Currently, we use the following syntax for locking down states when using ui-router:

[code]

Other projects (e.g. JHipster) use the following syntax:

[code]

I'm opening this issue to support both formats and help us [add support for ui-router 1.0](https://github.com/stormpath/stormpath-sdk-angularjs/issues/176).

[2016-10-26 03:04] mraible commented on #178
Closing because fixed in Java SDK: https://github.com/stormpath/stormpath-sdk-java/issues/1044

[2016-10-26 03:04] #178 closed, assigned to mraible

[2016-10-27 22:13] mraible commented on #174
I might've figured out a workaround - installing it directly from GitHub seems to work:

[code]

This ends up looking like the following in your `package.json`:

[code]

It seems to point to a particular commit too, but it would be nice if you could point it to a tag.

On a related note, I tried cloning the project (on Windows and Mac) and building the tarball using `npm pack`. I then tried to ins

[2016-10-28 12:17] Doug-Shannon commented on #174
Is there maybe a corruption in the package hosted on NPM, or is this truly an NPM bug?

Also, the work around should be super helpful, thank you.

[2016-10-28 18:36] subatomicglue commented on #170
Exciting stuff, just starting on angular2 & stormpath now for our app...

[2016-10-28 20:52] #190 closed, assigned to mraible

[2016-10-31 22:06] omgitstom commented on #46
This is really important for Client API

[2016-11-01 17:31] rondanal opened #194 "Support for multi-group access control?"
To control access levels, I've been using groups to conditionally showing certain elements using `if-user-in-group`. I've been able to target multiple groups (hopefully, correctly) using:
[code]
I would also like to limit certain routes based on a user's group, however I can't seem to get this working with the `authorize` object:

[code]

I would like multiple groups to access certain routes like

[2016-11-01 18:17] mraible commented on #194
@rondanal You're in luck! We just added support for multiple groups to limit state access in the 1.1.1 release of our AngularJS SDK. However, rather than using `sp.authorize.group`, you'll want to use `data.authorities`. For example:

[code]

https://docs.stormpath.com/angularjs/sdk/#/api/stormpath.SpStateConfig:SpStateConfig

[2016-11-04 15:10] rondanal commented on #194
@mraible Perfect, cheers for this!

[2016-11-06 17:31] #194 closed, assigned to nobody

[2016-11-08 19:10] robertjd commented on #122
I'm going to bump this to the backlog for now, until our new Social API is available

[2016-11-09 00:30] robertjd commented on #46
Hi @Tweety-FER ,

One more requirement just came through.  Right now this library will send an `X-Stormpath-Agent` header on all requests, if the request is on the same domain.  This header let's us know which SDK is being used on the front-end.  We only send this header on the same domain because we don't want to cause CORS security exceptions if the remote domain has not been configured to accep

[2016-11-09 11:18] the-overengineer commented on #46
@robertjd Added a simple wrapper around `$http` that can be used internally to achieve this behaviour. It wraps it with the header-adding logic, and exposes the same shorthand methods as `$http`. Moved all uses of `$http` within the application to this new `$spHttp` factory. There is, however, a slight issue in the form of:

[code]

I'll need to run through the changes manually once that is added

[2016-11-09 19:31] robertjd commented on #46
Thanks @Tweety-FER ! Yes, we have to add the necessary CORS response from the server, that should be coming to the dev box soon

[2016-11-10 21:15] mraible commented on #170
Hi folks! We have some good news: our Angular2 SDK is now available in beta and we are looking for devs to take it for a spin to collect some feedback.

https://github.com/stormpath/stormpath-sdk-angular

Let me know any questions or comments in GitHub issues for the repo above.

[2016-11-10 21:15] #170 closed, assigned to nobody

[2016-12-04 18:19] Doug-Shannon opened #196 "Detecting groups through a service"
Is it possible to make a $user or $auth call to get the groups a user is apart of in the controller?

[2016-12-07 02:00] robertjd commented on #196
Hi @Doug-Shannon , the group context will be available if you have enabled the option to expand the groups of the account, this is an option on your server (it modifies the format of the `/me` response).  Here is what that looks like in our express library:

https://docs.stormpath.com/nodejs/express/latest/user_data.html#current-user-json-api

Once that is enabled, the group context will always be

[2016-12-07 02:00] #196 closed, assigned to nobody

[2016-12-13 21:30] drano opened #199 "defaultPostLoginState not always first call after login"
I have this configuration
   $stormpath.uiRouter({
        loginState: 'login',
        defaultPostLoginState: 'postLogin'
    });

But some times, ui-router goes to my home (/) instead of go to my defaultPostLoginState

[2016-12-13 23:36] robertjd commented on #199
Hi @drano , thanks for the report.  Is there any other context you can provide that would help us create an app for reproduction?  Thanks!

[2016-12-14 00:23] drano commented on #199
In postlogin state, we check MFA, then a cookie is set when user has
checked his MFA with a SMS code. In backend side, all routes need check
about this cookie, and fail with 403 error if this cookie does not exist.

The strange behaviour comes when we clear all data and cookies in chrome
and delete MFA in stormpath. Then try to login. The login button is
disabled after click, and debugging ui-rout

[2016-12-15 00:22] robertjd commented on #199
Thanks @drano , we'll setup a reproduction project and reply as soon as possible.

[2016-12-19 21:35] edjiang opened #200 "Is $auth.endSession() compatible with ID Site?"
See http://stackoverflow.com/questions/41219664/how-do-i-log-out-of-stormpath-id-site-with-express-stormpath-and-stormpath-sdk-a

[2017-01-03 22:24] edjiang commented on #60
spa-config no longer exists!

[2017-01-03 22:24] #60 closed, assigned to nobody

[2017-01-13 01:36] #46 closed, assigned to the-overengineer

[2017-01-15 14:49] Doug-Shannon commented on #174
so the work around here is an issue because it forces us to be on the latest version, which is breaking our build.  Also, I tested it out, using NPM the way it was meant to with storm path STILL HANGS, even on 2.0.

Is there a way to target a specific version?

[2017-01-15 15:00] Doug-Shannon commented on #174
adding #1.1.1 to the end of "stormpath-sdk-angularjs": "git+https://github.com/stormpath/stormpath-sdk-angularjs.git" allowed me to target that specific commit.

I would still LOVE for this npm issue to be fixed.

[2017-01-16 19:42] robertjd commented on #174
Hi @Doug-Shannon , thanks for the update.  Please continue with that workaround for now, until we can find some time to dig into the cause of the hang.  It might require us to start pulling dependencies one-by-one.

[2017-01-18 23:48] robertjd opened #202 "Dependency issue when using UI-Router 0.3"
Upgrading UI-Router to 0.3 causes this exception in our code, if UI-Router is listed before stormpath in the module dependencies:

[code]

Reproduction in the head of this branch:

https://github.com/stormpath/express-stormpath-angular-sample-project/commit/66f5ed20111bf92b547feb634fcbec34e3dc45e5

[2017-01-19 06:48] oldskool73 commented on #202
I just found this service today, and immediately hit this same issue running through the intro guide.

Moving the UI Router below the Stormpath entries in the App DI array (as per your comment in the link above) does NOT fix it for me, it actually has to be moved to the *VERY TOP* of the array, above any and all other modules.

It also didn't work when downgrading to UI-Router 0.2.8, exactly the s

[2017-01-19 14:52] the-overengineer commented on #202
I suspect it was an error due to the order `.run` blocks were being executed. Since `.config` is not an option due to using `$q`, I just made the the token store initialisation lazy, so it runs when needed, not when the `StormpathOAuth` service is created. No longer getting the issue after that.

[2017-01-20 04:52] ghost commented on #176
@Doug-Shannon +1

[2017-01-20 22:52] edjiang opened #205 "Please add docs for how to use Social Login V2"

[2017-01-20 23:02] edjiang opened #206 "Please add docs for how to do email verification in the getting started"

[2017-02-03 13:53] macnaranos commented on #202
Is there a timeline, when this fix will be available?

[2017-02-08 11:12] kristianmandrup opened #209 "Please provide status on Angular 2 integration"

[2017-02-08 11:36] mraible commented on #209
Please see https://github.com/stormpath/stormpath-sdk-angular. Also, I wrote a blog post about it last November. https://stormpath.com/blog/angular-2-user-authentication

[2017-02-08 11:36] #209 closed, assigned to nobody

[2017-02-08 12:08] kristianmandrup commented on #209
Thanks. Would be nice to mention this in the Readme IMO

[2017-02-08 12:23] mraible opened #210 "Mention and link to Angular SDK in README"
The Angular SDK mentions and links to this repo. Should reciprocate this for users.

[2017-02-08 12:24] mraible commented on #209
Good idea! I created an issue to track this. https://github.com/stormpath/stormpath-sdk-angularjs/issues/210

[2017-02-15 12:21] kevinch commented on #202
Issue confirmed even on `ui-router 0.4.2` and `angular 1.6.1` with only `ui-router`, `stormpath` and `stormpath.templates`as dependencies.

[2017-02-15 21:45] tbehunin opened #212 "Npm module not installing - Sinopia has been shut down"
Errors occur and installation fails when running the command: `npm install --save stormpath-sdk-angularjs`

Output:
`C:\code>npm install --save stormpath-sdk-angularjs
npm ERR! registry error parsing json
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "ins
tall" "--save" "stormpath-sdk-angularjs"
npm

[2017-02-15 22:23] tbehunin commented on #212
Closing as it seems to be just an issue with my machine.

[2017-02-15 22:23] #212 closed, assigned to nobody

[2017-02-22 21:47] ghost commented on #202
Moving 'ui-router' to a position after 'stormpath' in my module DI array resolved this issue for me. (Angular 1.6.2, ui-router 1.0.0-rc.1)

[2017-02-23 21:27] ghost opened #213 "UI-Router ^1.0.0 deprecates state change events and breaks state config 'authenticate' property handling."
[UI-Router ^1.0.0 deprecates state change events](https://github.com/angular-ui/ui-router/wiki#state-change-events) and breaks state config 'authenticate' property handling (and presumably 'authorize' as well).

`src/module.js:351` relies on the global event `$stateChangeStart`, which is no longer available.

Will update this issue if/when I learn more or find time for a PR.

[2017-02-24 00:44] ghost commented on #213
Duplicate of #176, resolved in PR #207. Closing. Thanks guys, sorry for the dupe.

[2017-02-24 00:44] #213 closed, assigned to nobody

[2017-04-04 19:18] drcampbell opened #214 "IE11: $isCurrentDomain returns false for https domains"
In IE11 on an https domain link.host returns "domain_name:443", while on Chrome/Edge it returns "domain_name".

$window.location.host always returns "domain_name".

[2017-08-07 21:58] passatgt opened #216 "Problem with refresh_token request"
I guess this is Okta related(but to be honest, i'm not sure if this worked before or not).

My server runs on a different domain using express-stormpath 4.0.0. My config there looks like this:

[code]

Login, logout works fine. Since Okta limits the access token lifespan to max 1 day, my users keeps getting logged out because the refresh token function does not work properly. The login makes a req